<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Day14-27022018/src/com/sreenu/strings/PrintreverseString.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sreenu.strings.PrintreverseString"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Day14-27022018"/>
</launchConfiguration>
