<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Day31-24032018/src/com/sreenu/switchtest/SwitchmainTestcode.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sreenu.switchtest.SwitchmainTestcode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Day31-24032018"/>
</launchConfiguration>
